
@font-face {
    font-family: 'Concert One';
    src: url('./assets/fonts/ConcertOne-Regular.woff2') format('woff2'),
        url('./assets/fonts/ConcertOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: "Concert One" !important;
    overflow-x: hidden;
    width: 100%;
}

.header, .news, .album {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}


.news-title {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.news .row {
    margin: 0;
    padding: 0;
  }

.italic {
    font-style: italic;
}

.card-body {
    height: fit-content;
}

.burger-badge {
    height: 40px;
    width: 40px;
}

.breadcrumb-link {
    text-decoration: none;
}

.adresses-box-borders {
    border: 1px solid rgb(143, 118, 118);
}

.red-letter {
    color: red;
}

a .active {
    text-decoration: underline;
}

.nav-link.active {
 text-decoration: underline;
 color: red !important; /* Utilisez !important pour forcer le style */
}

.underline-radient {
    border-bottom: 5px solid transparent;
	border-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
	border-image-slice: 1;
}